/* ========================
    google font: manrope 
======================== */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
.meet-our-super-clients-content-inner{
    background-image: url(../assets/images/bg_cup.png);
    background-repeat: no-repeat;
}
.current-review{
    top:144px;
}