/* ========================
    google font: manrope 
======================== */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
.meet-our-super-clients-content-inner{
    background-image: url(../assets/images/bg_cup.png);
    background-repeat: no-repeat;
}
.current-review{
    top:144px;
}
.linear-text-color{
    background-color: #FF8938;
    background-image: linear-gradient(180deg, #FF8938 0%, #F00 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
}